#quattro {
  background-color: black;
  .logo {
    width: 13%;
  }
  .menu {
    ul {
      li {
        list-style: none;
        a {
          list-style: none;
          text-decoration: none;
          font-size: 17px;
          padding: 25px 10px;
          display: inline-block;
          color: white;
          font-weight: 600;
          transition: 0.3s ease-in-out;
          position: relative;

          &:hover {
            color: #ff0000;
          }
        }
        .home {
          &:hover {
            opacity: 1;
            visibility: visible;
          }
          .dropped-1 {
            width: 40%;
            position: absolute;
            top: 100%;
            opacity: 0;
            visibility: hidden;
            ul{
              background-color: grey;
              top: 100%;
            }
          }
        }
      }
    }
  }
  .icon {
    a {
      text-decoration: none;
      position: relative;

      i {
        color: white;
        padding: 10px;
        transition: 0.3s ease-in-out;
        &:hover {
          color: #ff0000;
        }
      }
      span {
        text-decoration: none;
        position: absolute;
        bottom: 10px;
        background-color: red;
        border-radius: 50%;
        padding: 3px 10px;
        color: white;
      }
    }
  }
}
